# =========================

# Python virtual environments

# =========================

.venv/
venv/
env/
backend/.venv/

# =========================

# Python cache / compiled files

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Environment variables

# =========================
backend/.env
.env
.env.*

# =========================

# Logs

# =========================

*.log

# =========================

# Build / distribution

# =========================

build/
dist/
*.egg-info/

# =========================

# Database (if using SQLite)

# =========================

*.db

# =========================

# VS Code / IDE

# =========================

.vscode/
.idea/

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Node / frontend (future use)

# =========================

node_modules/

# =========================

# Misc

# =========================

*.sqlite3

# =========================

# Alembic cache only (NOT migrations)

#==========================

alembic/__pycache__/


# Next Js

frontend/node_modules/
node_modules/

# Resume folder 

backend/uploads/

